<!-- Display cart contents in a material card if there are items in the cart -->
<mat-card *ngIf="cart.items.length" class="max-w-7xl mx-auto">

  <!-- Angular Material table to show cart items -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">

    <!-- Product Image Column -->
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <td mat-cell *matCellDef="let element">
        <img src="{{ element.product }}" alt="product" class="w-[100px] my-5" />
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <!-- Button to continue shopping -->
        <button mat-raised-button routerLink="/home">Continue Shopping</button>
      </td>
    </ng-container>

    <!-- Product Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <p class="truncate max-w-xs">{{ element.name }}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Product Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">
        <!-- Buttons to remove and add quantity -->
        <button mat-icon-button (click)="onRemoveQuantity(element)">
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{ element.quantity }}</span>
        <button mat-icon-button (click)="onAddQuantity(element)">
          <mat-icon>add</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">
        <!-- Calculate and display the total cost for each item -->
        {{ element.quantity * element.price | currency }}
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <!-- Display the total cost for all items in the cart -->
        <span class="font-bold py-5 block">{{ getTotal(cart.items) | currency }}</span>
      </td>
    </ng-container>

    <!-- Action Column with buttons for clearing cart, removing an item, and proceeding to checkout -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <!-- Button to clear the entire cart -->
        <button (click)="onClearCart()" mat-raised-button color="warn" class="float-right">
          Clear All
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <!-- Button to remove a specific item from the cart -->
        <button (click)="onRemoveFromCart(element)" mat-mini-fab color="warn" class="float-right">
          <mat-icon>close</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <!-- Button to proceed to checkout -->
        <button (click)="onCheckout()" mat-raised-button color="primary" class="float-right">
          Proceed To Checkout
        </button>
      </td>
    </ng-container>

    <!-- Define header, row, and footer rows for the table -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

  </table>
</mat-card>

<!-- Display a message when the cart is empty -->
<mat-card *ngIf="!cart.items.length" class="mx-auto my-3 max-w-7xl">
  <p>
    Your cart is empty.
    <!-- Button to start shopping -->
    <button mat-raised-button routerLink="/home">Start Shopping</button>
  </p>
</mat-card>
